.background {
  background: linear-gradient(
      to bottom,
      rgba(160, 92, 69, 0.8) 0%,
      rgba(79, 40, 28, 0.8) 100%
    ),
    url("https://static.andrebezerra.com/bg.jpg");
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  background: rgba(160, 92, 69, 0.8);
}